@import 'libs/font';

:root {
    font-size: 20px;
    font-weight: 300;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
}

@import 'blocks/buttons';
@import 'blocks/whatsapp';
@import 'blocks/titles';
@import 'blocks/checkbox';
@import 'blocks/discount-fill-bar';
@import 'blocks/product-card';
@import 'blocks/pagination';

@import 'blocks/menu';
@import 'blocks/address';
@import 'blocks/cart';
@import 'blocks/purchase';
@import 'blocks/delivery';
@import 'blocks/contacts';
@import 'blocks/purchase';
@import 'blocks/order';
@import 'blocks/prize';
@import 'blocks/information';
@import 'blocks/profile';

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    :root {
        font-size: 16px;
    }
}