.address {
    display: none;
    &__cover {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(#555555, 0.5);
        z-index: 3;
    }
    &__form {
        padding: 40px 50px 60px;
        overflow-y: auto;
       
    }
    &__overflow {
        position: fixed;
        max-width: 90%;
        max-height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        display: flex;
    }
    &__close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 15px;
        right: 15px;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 5px;
            transform: rotate(45deg);
            background-color: #000000;
            top: 13px;
            right: 0;
        }
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 5px;
            transform: rotate(-45deg);
            background-color: #000000;
            top: 13px;
            right: 0;
        }
    }
    &__list {
        margin-top: 32px;
        margin-bottom: 38px;
        &-item {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
        &-select {
            flex-shrink: 0;
            margin-right: 18px;
            width: 22px;
            height: 22px;
            background: #5D5D5D;
        }
        &-choise {
            width: 600px;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            margin-right: 2em;
            &-delete {
                position: relative;
                width: 1em;
                height: 1em;
                margin-left: 50px;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    width: 1rem;
                    height: 0.3rem;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background-color: red;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 0.3rem;
                    height: 1rem;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background-color: red;
                }
            }
        }
    }
    &__label {
        display: block;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-top: 25px;
        &_red {
            color: red;
        }
    }
    &__input {
        width: 100%;
        height: 55px;
        border: 1px solid #C1C1C1;
        padding: 10px;
        padding-left: 30px;
        margin-top: 14px;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        &::placeholder {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: rgba(0, 0, 0, 0.7);
        }
        &[type=number] {
            -moz-appearance: textfield;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_default {
            margin-top: 42px;
            justify-content: flex-start;
        }
    }
    &__item {
        width: 22%;
    }
}

@media (max-width: 992px) {
    .address {
        &__overflow {
            width: 70%;
        }
        &__form {
            padding: 30px;
            &_profile {
                padding: 15px;
            }
        }
        &__label {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 768px) {
    .address {
        &__wrapper {
            flex-wrap: wrap;
            &_default {
                flex-wrap: nowrap; 
            }
        }
        &__item {
            width: 45%;
        }
        &__list {
            &-choise {
                font-size: 15px;
                &-delete {
                    margin-left: 10px;
                }
            }
        }
        &__input {
            padding: 10px;
            &::placeholder {
                font-size: 12px;
            }
        }
        &__label {
            font-size: 1rem;
        }
    }
}

@media (max-width: 576px) {
    .address {
        &__overflow {
            width: 90%;
        }
        &__form {
            padding: 20px;
        }
        &__list {
            &-select {
                margin-right: 10px;
            }
            &-choise {
                word-break: break-all;
                &-delete {
                    margin-left: 2px;
                }
            }
        }
    }
}