.information {
    padding: 50px;
    margin: 0 auto;
    letter-spacing: -0.1em;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__header {
        padding: 50px;
        text-align: center;
        &-title {
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
        }
        &-subtitle {
            margin-top: 14px;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__menu {
        list-style: none;
        max-width: 750px;
        min-width: 40%;
        margin-right: 60px;
        flex-shrink: 0;
        &-item {
            position: relative;
            padding: 11px;
            padding-left: 28px;
            padding-right: 60px;
            background: #F5F5F5;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 28px;
            line-height: 32px;
            text-transform: uppercase;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 19px;
                transform: translateY(-50%);
                width: 30px;
                height: 18px;
                background: url('../icons/downArrow.png') no-repeat center / cover;
            }
            &:hover {
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            }
            &_active {
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                &::before {
                    background: url('../icons/upArrow.png') no-repeat center / cover;
                }
            }
        }
    }
    &__paragraph {
        font-weight: 300;
        font-size: 22px;
        line-height: 35px;
        &-item {
            display: none;
            &_active {
                display: block;
            }
        }
        &-list {
            padding-left: 60px;
            list-style-position: inside;
            margin-top: 30px;
            line-height: 28px;
            font-size: 24px;
            font-weight: 300;
            &-item {
                margin-bottom: 20px;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &_pad0 {
                padding-left: 0;
            }
        }
        &-text {
            &:not(:last-child) {
                margin-bottom: 27px;
            }
        }
    }
}

@media (max-width: 1919px) {
    .information {
        &__paragraph {
            &-text {
                font-size: 18px;
                line-height: 30px;
            }
            &-list {
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .information {
        &__menu {
            &-item {
                font-size: 24px;
                line-height: 28px;
            }
        }
        &__paragraph {
            &-text {
                font-size: 18px;
                line-height: 25px;
            }
            &-list {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .information {
        &__menu {
            &-item {
                font-size: 1rem;
                line-height: 1.2rem;
            }
        }
        &__paragraph {
            &-text {
                font-size: 16px;
                line-height: 20px;
            }
            &-list {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

@media (max-width: 992px) {
    .information {
        &__wrapper {
            flex-direction: column;
        }
        &__menu {
            max-width: unset;
            width: 100%;
            margin-bottom: 20px;
        }
        &__paragraph {
            &-list {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 576px) {
    .information {
        padding: 20px;
        word-wrap: break-word;
        &__header {
            padding: 0;
            padding-bottom: 20px;
            &-title {
                font-size: 18px;
                line-height: 20px;
                font-weight: 500;
            }
            &-subtitle {
                font-size: 15px;
            }
        }
        &__paragraph {
            hyphens: auto;
        }
    }
}